/* reset default margin and padding for all elements */

/* * {
  margin: 0;
  padding: 0;
} */

body {
  background-color: #f4f4f4;
  color: #555555;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ff0000;
}

a:active{
  color: #00ff00;
}

a:visited {
  color: #0000ff;
}

.container {
  max-width: 80%;
  margin: auto;
}
.box-1 {
  background-color: #333;
  color: #fff;
  border: 5px red solid;
  border-width: 2px;
  border-bottom-style: dotted;
  padding: 20px;
  margin: 20px 0;
}
.box-1 h1{
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2 {
  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}

.categories {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 15px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 0 25px;
  list-style: square;
}

.categories ul li {
  padding: 6px 0;
  border-bottom: 1px dotted #000;
  /* list-style-image: url('../img/checkmark.jpg'); */
}
